<div class="container-fluid">
    <div class="row mt-2">
        <div class="col-lg-6">
            <img src="assets/images/7559125.jpg" alt="img" height="100%" width="100%">
            <hr>
        </div>
        <div class="col-lg-6 mt-5">
            <h1 class="h1 text-center text-danger">Welcome To Teacher Dashboard</h1>
            <hr>
            <div class="d-flex flex-row">
                <div class="card text-bg-secondary mb-3 mx-5" style="max-width: 18rem;">
                    <h4 class="card-header text-center fw-bold">Total Students</h4>
                    <img src="assets/images/studprofile.jpeg" class="card-img-top" alt="profile">
                    <div class=" card-body">
                        <h1 class="card-title text-center">{{studentData}}</h1>
                    </div>
                </div>
                <div class="card text-bg-secondary mb-3 mx-5" style="max-width: 18rem;">
                    <h4 class="card-header text-center fw-bold">Total Exam Paper</h4>
                    <img src="assets/images/exam.jpeg" class="card-img-top" alt="profile">
                    <div class=" card-body">
                        <h1 class="card-title text-center">{{paperData}}</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>