<div class="container-fluid position-relative min-vw-90 min-vh-100 ">
    <div class="row bg-light rounded position-absolute">
        <div class="col-lg-6">
            <img class="p-3 sideImages" src="assets/images/4841115.jpg" alt="photo" height="100%" width="100%" />
        </div>
        <div class="col-lg-6 mt-5">
            <form [formGroup]="forgetPassForm" action="">
                <div class="field col-8 mt-5 mx-auto">
                    <div class="mb-3">
                        <h2 class="text-center h2 text-danger" (click)="onChangePage()">Forget Password
                        </h2>
                    </div>
                    <hr>
                    <div class="mb-4 mt-3">
                        <h5 class="h5">Please, enter your email address and we will send you instructions on how to
                            reset your
                            password..
                        </h5>
                    </div>
                    <div class="p-inputgroup">
                        <span class="p-inputgroup-addon">
                            <i class="pi pi-user"></i>
                        </span>
                        <span class="p-float-label">
                            <input type="text" pInputText class="p-inputtext-lg" formControlName="email" />
                            <label for="inputgroup">E-mail address</label>
                        </span>
                    </div>
                    <small class="text-danger" *ngIf="
                    (frmControl['email'].touched && frmControl['email'].errors && frmControl['email'].errors['pattern']) ||
                    (frmControl['email'].touched &&
                      frmControl['email'].pristine) ||
                    (submited &&
                      frmControl['email'].pristine &&
                      frmControl['email'].invalid)
                  ">Enter valid email address</small>
                </div>
                <div class="col-lg-8 mt-3 mx-auto mb-4 text-center">
                    <button pButton type="button" label="Send Email " class="p-button-lg"
                        (click)="onForgetPassword()"></button>
                </div>
            </form>
        </div>
    </div>
</div>