*{
    margin: 0;
    padding: 0;
}

.container-fluid {
    background: linear-gradient(to right, #e66465, #9198e5);
  }

.row{
    height: 82vh;
    width: 75vw;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.sideImages{
    height: 82vh;
}

.marginFor{
    margin-left: 450px;
}


input.ng-invalid.ng-touched,
select.ng-invalid.ng-touched{
    border: 1px solid red;
    box-shadow: 0 0 2px inset red;
}